
.container{
  margin-top: 5rem;
}

.form-group{
  margin-bottom: 1rem;
}
#togglePassword,#toggleCnfrmPassword{
  float:right;
  margin-top: -2rem;
  margin-right:1rem;
}
.gender{
  display:inline
}
.text-center{
  margin-top:2rem;
}
#getCities,#getStates,#getCountries{
  width:100%;
}
.bootstrap-select .dropdown-menu{
  max-width: 100%!important;
}
table tr td{vertical-align: middle;}
table{
  margin-top:1rem;
}
.card{
  padding:1rem;
}
.modal-body form{
  padding:1rem;
}
.modal-footer{
  text-align: center;
}